<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- CSS only -->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">-->
<!--{% load static %}-->
    <link rel="stylesheet" href="static/css/styles.css">

</head>
<body>
<body class="container">
<form method="POST" action="create/">
    {% csrf_token %}

<p>
<lаbel>Введите имя</lаbel><br>
<input type="text" name="name" />

<p>
<lаbel>Введите возраст</lаbel><br>
<input type="number" name="age" />
<p>
    <input type="submit" vаluе="Сохранить" >

</form>

{% if people.count > 0 %}
<h2>Сnисок пользователей</h2>
<table>
<!--<tr><th>Id</th>-->
    <tr><th>Имя</th><th>Boзpacт</th></tr>

{% for person in people %}
<!--<tr><td>{{ person.id }}</td>-->
<td>{{ person.name }}</td>
<td>{{ person.age }}</td></tr>
{% endfor %}
</table>
{% endif %}
</body>
</html>